@font-face {
  font-family: "h3g-icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/h3g-icons.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/h3g-icons.woff") format("woff"), 
       url("../fonts/h3g-icons.ttf") format("truetype"), 
       url("../fonts/h3g-icons.svg#h3g-icons") format("svg");
}